div
    label(for='title') Title:
    input(name='title', type='text', value=book.title)            
div
    label(for='author') Author:
    input(name='author', type='text', value=book.author)            
div
    label(for='genre') Genre:
    input(name='genre', type='text', value=book.genre)            
div
    label(for='year') Year:
    input(name='year', type='text', value=book.year)
input(type='submit')
div
    a.button(href='/books') Cancel