extends layout 

block content 
    h2=title

    include error

    form(action="/books/" + book.id + "/edit", method="post")
        include form
    form(action="/books/" + book.id + "/delete", method="post")
        input(type="submit", value="Delete Book")